#form label {
    width: 120px;
    display: inline-block;
}

#form input {
    margin: 2px;
    margin-left: 4px;
    width: 150px;
}

#form select {
    margin: 2px 0;
    width: 210px;
}

button[type=submit] {
    margin-top: 15px;
    padding: 5px;
}
